.scrollbar::-webkit-scrollbar {
  width: 9px;
}

.hover-scrollbar {
  overflow-y: auto;
}

.scrollbar::-webkit-scrollbar-button:decrement {
  border-width: 0 5px 5px;
}

.scrollbar::-webkit-scrollbar-button:increment {
  border-width: 5px 5px 0;
}
